.header__square-pic {
   width: 568px;
   height: 568px;
   position: absolute;
   top: 64px;
   right: 0;
   z-index: 2;
   animation-name: rotation;
   animation-duration: 20s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}