.feynman__title {
   padding-top: 100px;
   margin-bottom: 0;
   width: 648px;
   text-align: center;
   line-height: 1.15;
   font-size: 120px;
   font-weight: 600;
   margin-left: auto;
   margin-right: auto;
}