.header {
   height: 100vh;
   min-height: 600px;
   max-height: 756px;
   display: flex;
   flex-flow: row wrap; 
   margin-bottom: 100px;
   position: relative;
   z-index: 1;
   background-color: #f2f2f2;
}