.kaufman__triangle {
   position: absolute;
   right: -210px;
   top: 0;
   width: 877px;
   height: 877px;
   z-index: 2;
   animation-name: rotation;
   animation-duration: 20s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}